@import url(//db.onlinewebfonts.com/c/3d20efacfeaf02b55cc8b7b9f1f4d5cd?family=Futurama+Bold+Font);

@font-face {font-family: "Futurama Bold Font"; src: url("//db.onlinewebfonts.com/t/3d20efacfeaf02b55cc8b7b9f1f4d5cd.eot"); src: url("//db.onlinewebfonts.com/t/3d20efacfeaf02b55cc8b7b9f1f4d5cd.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3d20efacfeaf02b55cc8b7b9f1f4d5cd.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3d20efacfeaf02b55cc8b7b9f1f4d5cd.woff") format("woff"), url("//db.onlinewebfonts.com/t/3d20efacfeaf02b55cc8b7b9f1f4d5cd.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3d20efacfeaf02b55cc8b7b9f1f4d5cd.svg#Futurama Bold Font") format("svg"); }


* {
    padding: 0;
    margin: 0;
    font-size: 16;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
    color: #323137;
    text-decoration: none;
    text-align: center;
        
  }

  .images {
      margin: 10px;
      border: 3px solid #323137;
      border-radius: 5px;

  }

body {
    background-color: #4394A5;
}

.start p{
    font-size: 30px;
    margin: 20px;
}

button {
    border: 3px solid #810104;
    padding: 10px 25px;
    color: #810104;
    border-radius: 5px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

button:hover {
    background-color: #72BF95;
    color: #323137;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 60px;
    font-family: "Futurama Bold Font";
    color: #810104;   
    text-shadow: -2px 0 #F2892A, 0 2px #F2892A, 2px 0 #F2892A, 0 -2px #F2892A;
    background-color: #72BF95;
    border: 3px solid #323137;
    border-radius: 5px;
   
}

.quiz h2 {
    border:3px solid  #323137;
}

.incorrect h2 {
    border:3px solid  #323137;
}

.correct h2 {
    border:3px solid  #323137;
}

h2 {
    
    font-size: 30px;
    padding: 20px;
    font-family: "Futurama Bold Font";
    color: #810104;   
    background-color: #72BF95;
    
    
}

.quiz label {
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    color: #323137;
    cursor: pointer;
}

.quiz, .summary, .incorrect, .correct, .tally  {
    display: none;
}

.quiz {
    border:3px solid  gray;
    padding: 5px;
    
    background-color: #4394A5;
    border: 3px solid #323137;
    border-radius: 5px;
}



.incorrect, .correct{
    
    padding: 5px;
    
    background-color: #4394A5;
    font-size: 25px;
    border: 3px solid #323137;
    border-radius: 5px;
}




.tally {
    border-top: 0px;
    border-right: 3px  solid #323137;
    border-left: 3px  solid #323137;
    border-bottom: 3px  solid #323137;
    border-radius: 5px;
    
    font-size: 25px;
    background-color: #72BF95;
    
    width: auto;
    
    
}



.score span{
    margin-right: 20px;
    color: #810104 ;
    text-shadow: -2px 0 #F2892A, 0 2px #F2892A, 2px 0 #F2892A, 0 -2px #F2892A;
}

.number span {
    color: #810104 ;
    text-shadow: -2px 0 #F2892A, 0 2px #F2892A, 2px 0 #F2892A, 0 -2px #F2892A;
}

.summary h2 {
    border:3px solid #323137;
    margin-bottom: 30px;
}

.summary {
    
    padding: 5px;
    margin: 5px;
    background-color: #4394A5;
    
    font-size: 30px;
}