.quiz {
    border:8px solid  red;
    padding: 5px;
}

.start {
    border:3px solid rgb(89, 0, 255);
    padding: 5px;
}

.incorrect {
    border:3px solid yellow;
    padding: 5px;
}

.correct {
    border:8px solid green;
    padding: 5px;
}

.tally {
    border:3px solid rgb(255, 0, 221);
    padding: 5px;
}

.summary {
    border:8px solid rgb(128, 0, 32);
    padding: 5px;
}