.quiz, .summary, .incorrect, .correct, .tally  {
    display: none;
}

.quiz {
    border:3px solid  gray;
    padding: 5px;
    margin: 5px;
}

.start {
    border:3px solid gray;
    padding: 5px;
    margin: 5px;
}

.incorrect {
    border:3px solid gray;
    padding: 5px;
    margin: 5px;
}

.correct {
    border:3px solid gray;
    padding: 5px;
    margin: 5px;
}

.tally {
    border:3px solid gray;
    padding: 5px;
    margin: 5px;
}

.summary {
    border:3px solid gray;
    padding: 5px;
    margin: 5px;
}